<h1>Listing relations</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Relation</th>
    </tr>
  </thead>

  <tbody>
    <% @relations.each do |relation| %>
      <tr>
        <td><%= relation.key %></td>
        <td><%= relation.relation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>